
  <!-- <app-btn-regresar [url]="'/login'" class="back"></app-btn-regresar>

<app-menu-settings *ngIf="menuAbierto" (cerrar)="toggleMenu()"></app-menu-settings>

  <app-total-raffles  style="margin-top: 20px;"
    [total]="sorteos.length"
    
    (selectSorteo)="abrirSelectorDeSorteo()"
    (modalClosed)="recargarSorteos()"
    >
  </app-total-raffles>


 🔁 Dashboard por cada sorteo con acordeón 
<div class="dashboard-container" *ngFor="let sorteo of sorteos; let i = index">
  <button class="sorteo-header" (click)="toggleSorteo(i)">
    Sorteo #{{ i + 1 }}
    <button class="btn-ir" (click)="irAMiRifa(sorteo.id)">
  Ir a mi rifa
</button>
    <span>{{ sorteosVisibles[i] ? '▲' : '▼' }}</span>
  </button>

  <div *ngIf="sorteosVisibles[i]" class="sorteo-content">
   
    <app-total-revenue 
      [recaudado]="sorteo.recaudado" 
      [porRecaudar]="sorteo.porRecaudar">
    </app-total-revenue>

    <div class="top-wrapper">
      <app-top-buyers [buyers]="sorteo.topBuyers"></app-top-buyers>
      <app-top-sellers [sellers]="sorteo.topSellers"></app-top-sellers>
    </div>

    <app-sales-progress [progress]="sorteo.progresoVentas"></app-sales-progress>
  </div>

</div>

Modal de selector 

    <app-next-raffle [deadline]="proximoSorteo" style="  padding: 1rem;
  "></app-next-raffle>

  <app-recent-activity [notificaciones]="[]"></app-recent-activity



<app-sorteo-selector
  *ngIf="mostrarSelector"
  [sorteos]="sorteos"
  (selected)="onSorteoSeleccionado($event)"
  (closed)="cerrarModal()">
</app-sorteo-selector>

<app-menu-bottom 
  (abrirModalSorteos)="abrirSelectorDeSorteo()" 
  (abrirMenuConfig)="toggleMenu()">
</app-menu-bottom>
-->