<div>
     <!-- logo centrado -->
    <div class="logo-center">
      <img src="https://api.sorteos.sa.dibeksolutions.com/uploads/logos/logo.ico" 
           alt="Logo" class="logo-img">
    </div>


  <app-menu-settings 
    *ngIf="mostrarMenu && menuAbierto" 
    (cerrar)="toggleMenu()">
  </app-menu-settings>

  <!-- Botón de menú si está logueado -->
<button 
  *ngIf="isLoggedIn && mostrarMenu" 
  class="menu-icon" 
  (click)="toggleMenu()">
  ☰
</button>

<!-- Botón de login si NO está logueado -->
<button 
  *ngIf="!isLoggedIn" 
  class="login-btn" 
  (click)="goToLogin()">
  Login
</button>




  <div class="boletos-container">
    <!-- Aquí va el calendario -->
<router-outlet></router-outlet>
  </div>

  <app-whatsapp-button></app-whatsapp-button>
  <app-bottom-nav></app-bottom-nav>
</div>
