<div>
  <!-- Barra superior -->
<div class="topbar">
  <button *ngIf="isLoggedIn && mostrarMenu"
          class="icon-btn"
          (click)="toggleMenu()"
          aria-label="Open menu">
    ☰
  </button>

  <div class="spacer"></div>

  <button *ngIf="!isLoggedIn"
          class="login-btn"
          (click)="goToLogin()">
    Login
  </button>
  

  
</div>

<!-- ✅ Mensaje de bienvenida -->
<div *ngIf="bienvenida" class="bienvenida-msg" > 
  {{ bienvenida }}
</div>
      <app-btn-regresar [url]="'/lista-de-empresas'" style="position: absolute;;margin-top: 1   0px;"></app-btn-regresar>


<app-login-agenda 
  *ngIf="showLoginModal" 
  (loginSuccess)="handleLoginSuccess($event)" 
  (closeModal)="showLoginModal = false">
</app-login-agenda>



  <app-menu-settings 
    *ngIf="mostrarMenu && menuAbierto" 
    (cerrar)="toggleMenu()">
  </app-menu-settings>

  <!-- Botón de menú si está logueado -->
<app-empresa-info *ngIf="empresaSeleccionada$ | async as empresa" [empresa]="empresa"></app-empresa-info>

<!-- logo centrado -->
<div class="logo-center">
  <img src="http://localhost:3000/uploads/logo/logo.ico" 
       alt="Logo" class="logo-img">
</div>



  <div class="boletos-container">
<router-outlet></router-outlet>
  </div>

  <app-whatsapp-button></app-whatsapp-button>
  <app-bottom-nav></app-bottom-nav>
</div>
