.boleto-card {
  width: 100%;
  max-width: 360px;
  margin: auto;
padding: 2rem 1rem calc(2rem + 2px) 1.5rem;
  background-color: #002d74; // 🟦 Azul rey
    color: white;
  border-radius: 24px;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
    max-width: 360px; // ⬅️ Igual que tu input-container

  position: relative;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
height: auto; // 🔄 se adapta al contenido
min-height: 100px; // ✅ por si acaso, un mínimo chico

clip-path: path("M0,40 a30,30 0 0 1 30,-30 h300 a30,30 0 0 1 30,30 v400 a30,30 0 0 0 0,60 v400 a30,30 0 0 1 -30,30 h-300 a30,30 0 0 1 -30,-30 v-400 a30,30 0 0 0 0,-60 v-400 z");
}

.boleto-card p,
.boleto-card h2,
.boleto-card .titulo {
  margin-left: 0.5rem; // 💡 alineado más a la izquierda
  margin-right: 0.5rem;
}

.boleto-card strong {
  display: inline-block;
  min-width: 150px;
}

.icon-header {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1rem;
  color: #f4c84a;
  font-weight: bold;
}

.pelirroja {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  margin: 0;
}

.divider {
  border: none;
  border-top: 2px dotted #eab308;
  margin: 0.5rem 0;
}

.instruccion {
  font-size: 1rem;
  color: #f4c84a;
  margin-top: auto;
  padding-bottom: 2rem;
}
.no-encontrado {
  text-align: center;
  margin-top: 2rem;
  color: #f87171;
  font-weight: bold;
  font-size: 1.1rem;
}
.text-green {
  color: #4ade80;
}
.text-yellow {
  color: #facc15;
}
.text-red {
  color: #f87171;
}

.boleto-card.pagado {
  background-color: #166534 !important; // 🟩 verde fuerte
}

.boleto-card.ocupado {
  background-color: blue !important; // 🟦 azul
}

.boleto-card.disponible {
  background-color: white !important; // 🔵 azul original
}