<div class="dashboard-container">



 <div class="header">
  <div class="top-row">
    <div class="user">
  <i class="fa-solid fa-user-circle"></i>
  {{ nombreUsuario }}
</div>


<!-- Botón del engrane -->
<button class="icon-btn" (click)="toggleMenu()">
  <i class="fa fa-cog"></i>
</button>

<!-- Menú que aparece si está abierto -->
<app-menu-settings *ngIf="menuAbierto" (cerrar)="toggleMenu()"></app-menu-settings>




  </div>
  <div class="bottom-row">
    <img src="assets/logo-rifa.png" alt="Logo" class="logo" />
<h2>{{ nombreSorteo }}</h2>
    <button class="icon-btn">
      <i class="fa fa-file-alt"></i> <!-- Icono de reportes -->
    </button>
  </div>
</div>


<div class="stats">
  <div class="stat" (click)="filtrarPorDashboard('disponible')">
    <span class="dot libres"></span>
    <div class="label">LIBRES</div>
    <div class="value">{{ libres }}</div>
  </div>
  <div class="stat" (click)="filtrarPorDashboard('pagado')">
    <span class="dot pagados"></span>
    <div class="label">PAGADOS</div>
    <div class="value">{{ pagados }}</div>
  </div>
  <div class="stat" (click)="filtrarPorDashboard('ocupado')">
    <span class="dot apartados"></span>
    <div class="label">APARTADOS</div>
    <div class="value">{{ apartados }}</div>
  </div>
</div>



<app-search-number
  [boletos]="boletos"
    (telefonoChange)="onTelefonoChange($event)"
  [resetTelefono]="resetSearchFlag"
  (resultadosChange)="onResultadosChange($event)"  

  (compradorSeleccionado)="onCompradorSeleccionado($event)"
></app-search-number>






<div *ngIf="boletosEncontrados.length > 0 && numeroBuscado?.length == 10" class="cliente-wrapper">
  <div class="info-cliente">
    <h3 class="nombre">
      {{ boletosEncontrados[0]?.comprador?.nombre || 'Sin nombre' }}
    </h3>
    <p class="telefono">
      {{ boletosEncontrados[0]?.comprador?.telefono }}
    </p>

    
    <div class="resumen-estados">
      <span class="estado">
        <span class="dot ocupado"></span>
        Ocupados: {{ boletosOcupados.length }}
      </span>
      <span class="estado">
        <span class="dot pagado"></span>
        Pagados: {{ boletosPagados.length }}
      </span>
      <span class="estado">
        <span class="dot utiles"></span>
        Total útiles: {{ boletosNoDisponibles.length }}
      </span>
    </div>
  </div>

<div class="telefono-wp-btn" (click)="enviarInfo()">
  <i class="fa-brands fa-whatsapp"></i>
  <span>{{ boletosEncontrados[0]?.comprador?.telefono }}</span>
</div>

</div>



<div class="tickets" *ngIf="boletosEncontrados.length > 0 && (numeroBuscado?.length == 10 || estadoFiltrado)">


  
  <!-- ⛔ MENSAJE SI NO HAY RESULTADOS -->
 
  <ng-container *ngFor="let estado of estadosDisponibles">
    
  <ng-container *ngIf="filtrarPorEstado(estado).length > 0">

    <div class="estado-header">
      <h3 class="titulo-estado">
        {{ estado === 'disponible' ? 'Ya no asignado' : (estado | titlecase) }}: {{ filtrarPorEstado(estado).length }}
      </h3>
      <button class="btn-icon" (click)="cambiarTodos(estado)">
        <i class="fa-solid fa-right-left"></i>
      </button>
    </div>

    <div class="tickets-grid">
      <app-boleto-item
        *ngFor="let boleto of filtrarPorEstado(estado)"
        [numero]="boleto.numero"
        [estado]="boleto.estado"
        [pequeno]="true"
        [mostrarCerrar]="false"
        [permitirTodosLosEstados]="true"
        (toggle)="onToggleBoleto(boleto)"
        [ngClass]="{ 'highlight': boleto.id === boletoActualizadoId }"
      />
    </div>

  </ng-container>
</ng-container>


</div>
<app-cambiar-estado-modal
  *ngIf="modalBoleto"
  [boleto]="modalBoleto"
  [reasignacion]="esReasignacion(modalBoleto)"
  (estadoSeleccionado)="onEstadoSeleccionado($event)"
  (reasignar)="onReasignar($event)"
></app-cambiar-estado-modal>



<div class="overlay-loading" *ngIf="actualizandoBoleto">
  <div class="spinner"></div>
</div>


<app-sorteo-selector
  *ngIf="mostrarSelector"
  [sorteos]="sorteos"
  (selected)="onSorteoSeleccionado($event)"
  (closed)="cerrarModal()">
</app-sorteo-selector>
<h1 class="no-result"
    *ngIf="!actualizandoBoleto 
           && boletosEncontrados.length === 0 
           && (estadoFiltrado || numeroBuscado) 
           && !buscando
           && resultadosBusqueda === 0"> <!-- 👈 usamos variable -->
  😕 No hay boletos que coincidan con tu búsqueda o filtro.
</h1>


<app-menu-bottom (abrirModalSorteos)="abrirSelectorDeSorteo()"   (abrirMenuConfig)="toggleMenu()">

