.servicios {
  display: flex;
  margin-top: 5px;
  flex-wrap: nowrap;   /* mantiene una sola fila */
  gap: 16px;
  overflow-x: auto;    /* scroll horizontal */
  overflow-y: visible; /* permite que la X sobresalga */
  scroll-behavior: smooth; /* desplazamiento suave */
}

.servicio-wrapper {
  position: relative;
  display: inline-block;
  overflow: visible;
  z-index: 1;
}

.badge-x {
  position: absolute;
    top: .51px;  right: -7px;
  z-index: 5;
  background: #d32f2f;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  transition: transform 0.15s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.servicio-btn {
  padding: 10px 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 0.95rem;

  &.active {
    background: #fdf0ff;
    color: #c2185b;
    border-color: #f8bbd0;
  }

  &:hover {
    background: #f9f9f9;
  }
}
