.grid {
  display: grid;
  grid-template-columns: repeat(4, auto); // ⬅️ 4 columnas fijas
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
    padding-bottom: 210px;
}
.grid {
  max-width: 400px;
  margin: 0 auto;
}
  