<section class="prize-info" *ngIf="sorteo">

<img 
  class="image" 
  [src]="logoUrl" 
  alt="Logo de la rifa" 
  width="60" 
  style="display: block; margin: 40px auto 0 auto;width: 40%;
    max-width: 400px;"
>

  <h1 class="title">SORTEO "{{ sorteo.nombre }}"</h1>

  <!-- Fecha del sorteo -->
  <p class="date" *ngIf="sorteo.fecha">Sorteo: {{ sorteo.fecha | date: 'longDate' }}</p>

  <!-- Imagen del premio -->
  <div class="image" >
    <img [src]="sorteo.imagen || 'billetes.png'" alt="Premio" />
  </div>

  <!-- Precio del boleto -->
  <p class="price">
    Costo por boleto: <strong>${{ sorteo.costoBoleto }} MXN</strong>
  </p>
  <p class="bono">
     <strong>{{ sorteo.descripcion }}</strong>
  </p>
</section>
