<h2 class="agenda-title">
  {{ (slotSeleccionado?.fecha || currentDate) | date:'fullDate' }}
</h2>

<!-- Si no hay horarios -->
<div *ngIf="!hourLabels?.length || esDiaDescanso" class="no-schedule">
  <p>No hay horarios disponibles</p>
</div>

<!-- Si hay horarios -->
<table *ngIf="hourLabels?.length && !esDiaDescanso" class="agenda-grid">
  <tr>
    <!-- Columna izquierda: horas -->
    <td class="hours">
      <div *ngFor="let h of hourLabels" class="hour-label">
        {{ h }}
      </div>
    </td>

    <!-- Columna derecha: citas -->
    <td class="slots" [style.height]="slotsHeight">
      <!-- líneas horizontales -->
      <div 
        *ngFor="let h of hourLabels" 
        class="hour-line" 
        (click)="abrirModal(h)">
      </div>

      <!-- citas ya existentes -->
      <div
  *ngFor="let cita of citasDelDia; let i = index"
  class="cita"
  [ngClass]="{ 'peach': i % 3 === 0, 'blue': i % 3 === 1, 'mint': i % 3 === 2 }"
  [style.top.px]="getTop(cita.hora)"
  [style.height.px]="getHeight(cita.servicio?.duracionMin || 60)"
>
  <div class="appointment">
    <strong>{{ cita.nombreCliente }}</strong>
   <div class="duration">
  <ng-container *ngIf="cita.servicio?.duracionMin == 30; else conDuracion">
  </ng-container>
  <ng-template #conDuracion>
    {{ cita.servicio?.duracionMin }} min 
    de {{ (cita.fecha + 'T' + cita.hora) | date:'shortTime':'':'es-MX' }}
    a {{ getHoraFin(cita.hora, cita.servicio?.duracionMin || 60, cita.fecha) }}
  </ng-template>
</div>

  </div>
</div>

    </td>
  </tr>
</table>
<app-cita-modal
  *ngIf="showModal"
  [fechaSeleccionada]="{ fecha: slotSeleccionado?.fecha || currentDate, hora: slotSeleccionado?.hora }"
  [servicios]="serviciosDisponibles"
  [citasOcupadas]="citasOcupadasParaModal"
  (closeModal)="cerrarModal()"
[eventoId]="evento?.id || 0"
  (saveModal)="guardarCita($event)">
</app-cita-modal>