<section class="contact-wrapper">
  <div class="contacto-container">

    <!-- Logo centrado -->
    <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 1rem;">
         <img [src]="logoUrl"   alt="Logo de la rifa"        width="100"        style="height: auto; object-fit: contain; filter: drop-shadow(0 0 4px #ffc107);"
      />
    </div>

    <h1>Contacto</h1>

    <div class="contact-info">

  

      <!-- Cuando todavía no llega el sorteo -->
      <ng-template #loading>
        <p><strong>📞 WhatsApp:</strong> Cargando...</p>
        <p><strong>🏢 Empresa:</strong> Cargando...</p>
        <p><strong>Facebook:</strong> Cargando...</p>
        <p><strong>📍 Ubicación:</strong> Chihuahua, México</p>
      </ng-template>

    </div>

    <app-whatsapp-button></app-whatsapp-button>
  </div>

  <app-dibek-information></app-dibek-information>
</section>
<app-bottom-nav></app-bottom-nav>
