.dashboard-container {
  flex-direction: column;
  gap: .5rem;
  max-width: 800px;  // más ancho para que respire
margin-bottom: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




/* Toggle de vistas */
.view-toggle {
  display: inline-flex;
  border: 1px solid #ddd;
  border-radius: 9999px;
  overflow: hidden;
  margin-top: 40px;

  button {
    padding: 8px 18px;
    font-size: 0.95rem;
    border: none;
    background: #fafafa;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: #f1f1f1;
    }

    &.active {
      background: #2563eb;
      color: #fff;
      font-weight: 600;
    }
  }
}

/* Navegación Prev/Hoy/Next */




.event-dot {
  width: 6px;
  height: 6px;
  background-color: #28a745; // verde
  border-radius: 50%;
  display: block;
  margin: 4px auto 0;
}

.modal-backdrop {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 320px;
  max-width: 90%;
  z-index: 1001;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
