<nav class="bottom-nav">
  <a [routerLink]="['/', numeroSorteo, 'agenda']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <i class="fa fa-home"></i>
    <span>Inicio</span>
  </a>
<a [routerLink]="['/', numeroSorteo, 'agenda']">
  <i class="fa fa-ticket"></i>
  <span>Citas</span>
</a>

 <a href="javascript:void(0)" (click)="verificarPremium('/' + numeroSorteo + '/pagos')">
  <i class="fa fa-credit-card"></i>
  <span>Pago</span>
</a>

<a href="javascript:void(0)" (click)="verificarPremium('/' + numeroSorteo + '/faq')">
  <i class="fa fa-question-circle"></i>
  <span>FAQ</span>
</a>

<a href="javascript:void(0)" (click)="verificarPremium('/' + numeroSorteo + '/contacto')">
  <i class="fa fa-phone"></i>
  <span>Contacto</span>
</a>

</nav>
