<div class="screen">
  <!-- Encabezado -->
  <div class="title">
    {{ sorteo?.nombreEmpresa?.toUpperCase() }}
  </div>

  <!-- Sección de cantidad -->
  <div class="amount-section" *ngIf="sorteo">
    <div class="label">CANTIDAD</div>
    <div class="value">${{ sorteo?.nombre }}</div>
  </div>

  <!-- Instrucción -->
  <p class="instruction">
    Pulsa los números para generar Boleto
  </p>

  <!-- Tómbola -->
  <ng-container *ngIf="boletos.length > 0">
    <app-tombola
      (click)="mostrarTombolaYEmpezar(boletos)"
      [userInput]="numeroSeleccionado"
      [spinDuration]="tiempo"
      #tombolaRef
      (rollingDone)="mostrarBotonApartar()"
    ></app-tombola>
  </ng-container>

  <!-- Lista de boletos seleccionados -->
  <div class="boletos-generados" *ngIf="boletosSeleccionados.length > 0">
    <h3>BOLETOS GENERADOS</h3>
    <div class="boletos-grid small">
      <app-boleto-item
        *ngFor="let b of boletosSeleccionados"
        [numero]="b.numero"
        [mostrarCerrar]="true"
        [estado]="b.estado"
        [pequeno]="true"
        (cerrar)="quitarBoletoPorNumero(b.numero)"
      ></app-boleto-item>
    </div>
  </div>

  <!-- Botones de acción -->
  <button *ngIf="mostrarBoton" class="start-button" (click)="apartar()"
    [ngClass]="{ 'boton-animado': mostrarBotonFinalizar }"
>
    ✅ Lo quiero {{ numeroSeleccionado }}
  </button>
<br>
  <button
  *ngIf="boletos.length > 0"
  class="start-button"
  (click)="finalizar()"
>
  ✅ Apartar boletos
</button>

</div>
