<section class="resumen">

  <ng-container *ngIf="boletosSeleccionados().length === 0; else lista">
    <p>No has seleccionado boletos.</p>
  </ng-container>

  <ng-template #lista>
  
   <button class="confirmar"(click)="confirmar()" >
  ✅ Apartar boletos 
</button>

   

    <!-- Lista visual de boletos -->
    <div class="boletos-generados">
      <h3>BOLETOS ELEGIDOS:</h3>
       <p>
      Total a pagar: <strong>${{ total }} MXN</strong>
    </p>
      <div class="boletos-grid small">
<app-boleto-item
  *ngFor="let b of boletosSeleccionados()"
  [numero]="b.numero"
  [estado]="b.estado"
  [pequeno]="true"
  [mostrarCerrar]="true"
  (cerrar)="quitarBoletoPorNumero(b.numero)"
>
</app-boleto-item>



      </div>
      
    </div>

  </ng-template>
</section>
<br>
<br>