.btn-regresar {
position: absolute; /* o fixed si quieres que siempre esté visible al hacer scroll */
    z-index: 1;

  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  font-size: 1rem;
  color: #1a73e8;
  cursor: pointer;
  padding: 0.5rem;
}

.btn-regresar:hover {
  text-decoration: underline;
}

svg {
  flex-shrink: 0;
}
