<section class="pago-container" style="color: white; min-height: 100vh; padding: 2rem 1rem; display: flex; justify-content: center;">
  <div style="max-width: 600px; width: 100%; padding: 2rem; border-radius: 8px; text-align: center;">

    <!-- Logo centrado -->
    <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 1rem;">
      <img
        [src]="logoUrl" 
        alt="Logo de la rifa"
        width="100"
        style="height: auto; object-fit: contain; filter: drop-shadow(0 0 4px #ffc107);"
      />
    </div>

    <h1 style="color: #a78bfa;">Datos de Pago</h1>
    <h2 style="color: #d8b4fe;">Transferencia</h2>


    <ng-template #cargando>
      <p>Cargando datos del sorteo...</p>
    </ng-template>

  </div>
</section>
<app-bottom-nav></app-bottom-nav>
